*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    background-color: #EAF0EF;
    font-size: 16px;
    color: #000;
}
.wrap{
    width: 80%;
    min-height: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #000;   
   
}
.box{
   height: 100px;
    min-width: 100px;
   
}
.one{
    background-color:salmon;
  
}
.two{
    background-color: palegreen;
 
}
.three{
    background-color: skyblue;
  
}
.first{
    display: flex;
    justify-content: space-evenly;
 

}
.second{ 
    min-height: 800px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; 
   
    
}
.four{
    background-color: #EE1C0B;
   
}
.five{
    background-color: #92EE0B;
  
}
.six{
   background-color: #CE0D2A ; 
 
}

